@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color-primary: #313338;
  --font-color-secondary: #ffffff;
  --page-max-width: 1280px;
  --form-shadow: 0 8px 30px rgb(0,0,0,0.12);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #383838;
  -webkit-box-shadow: 0 0 0 1000px rgb(255, 255, 255) inset;
  border: 2px solid rgb(209 213 219);
  background-color: transparent;
}

body {
  color: rgb(var(--font-color-primary));
  background: rgb(247,247,247);
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding: 1rem;
}

h1, h2, h3, h4, h5, p, span, input {
  color: #383838
}
